<button class="btn btn-success" ng-click="edit({})">New Person</button>


<p>There are {{people.length * 2}} people. </p>

<p>{{date | timeago}}</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr class="hand"
            ng-repeat="person in people | limitTo : 10 : 10 * (paging.currentPage - 1)"
            ng-class="{'juve': person.age <= 18}"
            ng-dblclick="edit(person)"
            ng-click="setPerson(person)">
            <td>{{(10 * (paging.currentPage - 1)) + $index + 1}}</td>
            <td><img ng-src="/img/{{person.avatar}}" height="60"></td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName | uppercase}}</td>
            <td>{{person.age | ageFilter:30}}</td>
            <td>{{person.gender}}</td>
            <td>
                <button class="btn btn-primary"
                        ng-click="edit(person)">Edit</button>
                <button class="btn btn-primary"
                        ng-click="edit64(person)">EditB64</button>
                <button class="btn btn-primary"
                        ng-click="editMulti(person)">Edit Multi</button>
                <button class="btn btn-danger"
                        ng-if="person.age > 18"
                        ng-click="delete(person)" >Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<ul uib-pagination total-items="people.length" ng-model="paging.currentPage" items-per-page="paging.pageSize"></ul>

<my-person pe="p"
            show-last-name="true"></my-person>

<person-edit></person-edit>