<my-person pe="person"></my-person>
<my-person pe="person"></my-person>

<form name="personForm" novalidate="">
    <div class="mb-3" ng-class="{'my-invalid': personForm.firstName.$invalid && personForm.$submitted}">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" name="firstName"
            ng-model="person.firstName" required="required">
        <span class="small" ng-if="personForm.firstName.$valid || !personForm.$submitted">Help text</span>
        <span id="firstNameHelp" class="small" ng-if="personForm.firstName.$invalid && personForm.$submitted">Error text</span>
    </div>
    </div>

    <div class="mb-3" ng-class="{'my-invalid': personForm.lastName.$invalid && personForm.$submitted}">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" name="lastName"
            ng-model="person.lastName" required="">
        <div id="lastNameHelp" class="small">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3" ng-class="{'my-invalid': personForm.age.$invalid && personForm.$submitted}">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" aria-describedby="ageHelp" name="age" ng-model="person.age" required="">
        <div id="ageHelp" class="small">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3" ng-class="{'my-invalid': personForm.gender.$invalid && personForm.$submitted}">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-control" id="gender" aria-describedby="genderHelp" name="gender" ng-options="gender for gender in genders"
            ng-model="person.gender" required="">
        </select>
        <div id="genderHelp" class="small">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">File</label>
        <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
             ngf-resize="{width: 100, height: 100}">Select</div>
        <div id="ageHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="save(personForm)">Submit</button>
</form>