 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
 }

 .juve{
    background-color: beige;
}

.hand{
    cursor: pointer;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.my-invalid {
    color: red !important;
}

.my-invalid input,.my-invalid select {
    border-color: red;
}