<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <base href="/"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/app/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <script th:inline="javascript">
        var current_user = /*[[${session.account}]]*/;
    </script>
</head>
<body ng-app="my-app">

<div class="container" ng-cloak>


    <header ng-controller="HeaderController">
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94"
                     role="img">
                    <title>{{applicationName}}</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                          fill="currentColor"></path>
                </svg>
                <span class="fs-4">{{applicationName}}</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" ng-if="isLoggedIn">
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Enterprise</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
                <a class="py-2 text-dark text-decoration-none" href="/logout" target="_self">Logout</a>
            </nav>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" ng-if="!isLoggedIn">
                <a class="py-2 text-dark text-decoration-none" href="/login">Login</a>
            </nav>
        </div>


    </header>

    <div ng-view=""></div>

</div>
<!--
<div class="container"
        ng-controller="FrontPageController">
    <h3>{{message}}</h3>

    <button class="btn btn-success" ng-click="edit({})">New Person</button>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Gender</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="person in people"
                ng-class="{'juve': person.age <= 18}">
                <td>{{$index + 1}}</td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName | uppercase}}</td>
                <td>{{person.age | ageFilter:50}}</td>
                <td>{{person.gender}}</td>
                <td>
                    <button class="btn btn-primary"
                            ng-click="edit(person)">Edit</button>
                    <button class="btn btn-danger"
                            ng-if="person.age > 18"
                            ng-click="delete(person)" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <form>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" ng-model="person.firstName">
          <div id="firstNameHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" ng-model="person.lastName">
            <div id="lastNameHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" aria-describedby="ageHelp" ng-model="person.age">
            <div id="ageHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-control" id="gender" aria-describedby="genderHelp" 
                    ng-options="gender for gender in genders"
                    ng-model="person.gender">
            </select>
            <div id="genderHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="save()">Submit</button>
      </form>
</div>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
        integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"
        integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.3/angular-resource.min.js"
        integrity="sha512-+ymw+FkoDhPw+7/1DWVtASoICv7lwuvpkbVFqc4ASu1D385wKiLHu4ofOOxhpTlWoza/yIivwwteembPbeBuMg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/3rd/random/ui-bootstrap-tpls-3.0.6.min.js"></script>
<script src="/3rd/random/ng-file-upload-all.min.js"></script>

<script src="/app/js/app.module.js"></script>
<script src="/app/js/person-list.component.js"></script>
<script src="/app/js/person-edit.component.js"></script>
<script src="/app/js/person-edit-b64.component.js"></script>
<script src="/app/js/person-edit-multi.component.js"></script>
<script src="/app/js/login.component.js"></script>
<script src="/app/js/header.component.js"></script>

<!--
<script>
    
    var app = angular.module("my-app", []);


    app.controller("FrontPageController", function($scope){
        $scope.save = function(){
            let person = $scope.person;
            if(person.id){
                // update
                let index = _.findIndex($scope.people, {id: person.id});
                $scope.people.splice(index, 1, person);
            }else{
                // insert
                $scope.max++;
                person.id = $scope.max;
                $scope.people.splice(0, 0, person);
            }
            $scope.person = {};
        };

        $scope.edit = function(person){
            $scope.person = angular.copy(person);

        };

        $scope.delete = function(person){
            /*
            let arr = $scope.people;
            let i = 0;
            for(; i<arr.length; i++){
                if(arr[i].firstName == person.firstName){
                    break;
                }
            }
            arr.splice(i, 1);
            */

            _.remove($scope.people, {id: person.id});
        };
        

        $scope.init = function(){
            $scope.message = "Hello AngularJS";

            $scope.people = [
                {
                    id: 1,
                    firstName: "emre",
                    lastName: "cakir",
                    age: 35,
                    gender: "MALE"
                },
                {
                    id: 2,
                    firstName: "ali",
                    lastName: "veli",
                    age: 15,
                    gender: "MALE"
                },
                {
                    id: 3,
                    firstName: "jane",
                    lastName: "doe",
                    age: 55,
                    gender: "FEMALE"
                }
            ];

            $scope.genders = ["MALE", "FEMALE"];
       
            $scope.max = 3;
            $scope.person = {};
        };

        $scope.init();
    });

    app.filter("ageFilter", function() {
        return function(input, age) {
            return input <= age ? "Genc" : "Yetiskin";
        }
    });

</script>
-->
</body>
</html>